.container{
    margin-left: 5%;
    width:65%;
    background-color:black;
    color:white;
}

h2{
    text-align: center;
    background-color: orange;
 
}

#instructions{
   padding:2%;
   line-height: 150%;
   color: blue;
   background-color: beige;
   margin-bottom: 3%;
}
 
img {
    width: 100%;
} 

#emeraldValue,
#rubyValue,
#diamondValue,
#sapphireValue {
    text-align: center;
    /* float: left; */

}  




#targetScore{
    float:left;
    text-align: center;
    background-color: green;
    color: black;
   
    line-height: 168%;
}

#winLoss{
    float:left;
    background-color: aquamarine;
    color:black;
    line-height: 168%;
}

#gems{
    padding-top: 2%;
    clear:both;
}

#score {
    text-align: center;
    background-color: teal;
    clear: both;
    line-height: 168%;
}

body {
    background-image: url(../images/crystals-background.jpg);
    
}